*.exe
.vscode/settings.json
bin/
log.txt
main.o
*.layout
*.cbp
*.depend
obj/
*.depend
*.depend
*.layout
*.layout
*.depend
*.xlsx
*.depend
*.depend
*.depend
coloring.depend
coloring.depend
*.depend
*.depend
